@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

summary:first-of-type {
  list-style-type: none;
}

summary {
  cursor: pointer;
  list-style-type: none;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.3rem;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

summary:after {
  border-radius: 0.3rem;
  content: "+";
  color: #000;
  float: left;
  font-size: 2rem;
  font-weight: bold;
  margin: -0.44rem 0.75rem 0 0;
  padding: 0;
  text-align: center;
  width: 1.25rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
details[open] summary:after {
  content: "-";
  font-size: 2rem;
}

@media (max-width: 640px) {
  summary::after {
    list-style-type: none;
    display: none;
  }
}
